{% extends "Planner/layout.html" %}

{% block title %}
Index Route
{% endblock %}

{% block body %}
<div>
    <h1>Events</h1>
    {% for event in Events %}
        <div>
            <p>Name: {{event.name}}</p>
            <p>Early Start Time: {{event.early_start_time}}</p>
            <p>Start Time: {{event.late_start_time}}</p>
            <p>Duration: {{event.duration}}</p>
            <p>Priority: {{event.priority}}</p>
            <p>Assigned: {{event.assigned}}</p>
        </div>
    {% endfor %}
</div>

<div>
    <h1>Events in Uploaded Calendar</h1>
    {% for event in Cal %}
        <div>
            <p>Name: {{event.name}}</p>
            <p>Start Time: {{event.begin}}</p>
            <p>End Time: {{event.end}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}