{% extends "Planner/layout.html" %}

{% block title %}
Index Route
{% endblock %}

{% block body %}
<div>
    <h2>Events</h2>
    {% for event in Events %}
        <div class="event">
            <p><strong>Name:</strong> {{event.name}}</p>
            <p><strong>Early Start Time:</strong> {{event.early_start_time}}</p>
            <p><strong>Late Start Time:</strong> {{event.late_start_time}}</p>
            <p><strong>Duration:</strong> {{event.duration}} minutes</p>
            <p><strong>Priority:</strong> {{event.priority}}</p>
            <p><strong>Assigned:</strong> {{event.assigned}}</p>
        </div>
    {% endfor %}
</div>

<div>
    <h2>Events in Calendar</h2>
    {% for event in Cal %}
        <div class="event">
            <p><strong>Name:</strong> {{event.name}}</p>
            <p><strong>Start Time:</strong> {{event.begin}}</p>
            <p><strong>End Time:</strong> {{event.end}}</p>
        </div>
    {% endfor %}
</div>
{% endblock %}