{% extends "Planner/layout.html" %}
{% load static %}

{% block title %}
Index Route
{% endblock %}

{% block body %}
<button id="E">Display Events</button>
<button id="C">Display Calendar</button>
<button id="D">Download Calendar</button>
<div id="Events">
    <h2>Events</h2>
    {% if Events is None %}
        <h3>No Events</h3>
    {% endif %}
    {% for event in Events %}
        <div class="event">
            <a class="link" id="edit-link" href="{% url 'edit' event.id %}">Edit</a>
            <p><strong>Name:</strong> {{event.name}}</p>
            <p><strong>Early Start Time:</strong> {{event.early_start_time}}</p>
            <p><strong>Late Start Time:</strong> {{event.late_start_time}}</p>
            <p><strong>Duration:</strong> {{event.duration}} minutes</p>
            <p><strong>Priority:</strong> {{event.priority}}</p>
            <p><strong>Assigned:</strong> {{event.assigned}}</p>
        </div>
    {% endfor %}
</div>

<div id="Calendar">
    <h2>Events in Calendar</h2>
    {% if Cal is None %}
        <h3>No Events in Calendar</h3>
    {% endif %}
    {% for event in Cal %}
        <div class="event">
            <p><strong>Name:</strong> {{event.name}}</p>
            <p><strong>Start Time:</strong> {{event.begin}}</p>
            <p><strong>End Time:</strong> {{event.end}}</p>
        </div>
    {% endfor %}
</div>

<div id="Download">
    <a class="link" id="download-link" href="{%url 'download'%}">Download .ics file</a>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'Planner/index.js' %}"></script>
{% endblock %}