{% extends "Planner/layout.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}

{% block body %}
{% if message != None %}
    <div>
        <h3 class="alert" id="login-alert">{{message}}</h3>
    </div>
{% endif %}
<div id="login">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <p><label for="username">Username:</label>
        <input autofocus type="text" name="username" placeholder="Username"></p>
        <p><label for="password">Password:</label>
        <input type="password" name="password" placeholder="Password"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</div>
<div>
    <h3>Don't have an account? <a class="link" href="{% url 'register' %}">Signup</a></h3>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'Planner/login.js' %}"></script>
{% endblock %}